.rating_element
{
  box-sizing: border-box;
  font-size: 1.2em;
  position: relative;
  display: inline-flexbox;
  justify-content: left;
  align-items: center;
  width: 30%;
}

.rating_element__imdb_logo {
  font-family: sans-serif;
  font-weight: 800;
  padding: 0.3em 0.15em;
  margin-top: 1em;
  border-radius: 4px;
  color: #273238 !important;
  background-color: #ecbe00;
  display: inline-block;
  transition: all 0.15s ease-in-out;
}

.rating_element__imdb_logo:hover
{
  background-color: #273238;
  color: #ecbe00 !important;
}

.rating_element_small
{
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  background-color: #273238 !important;
  color: #ecbe00 !important;
  padding: 0.8em;
  border-radius: 0.3em;
  right: 3%;
  top: 2%;
}