.loading-sign {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  .loading-sign:after {
    content: " ";
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 0.2em solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading-sign 1.2s ease-in-out infinite;
  }
  @keyframes loading-sign {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  